---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Project from "../components/Project.astro";
import Footer from "../components/Footer.astro";

---

<Layout>
    <h1>My Portfolio</h1>
    <p>Aquí voy a poner cosas para mi Portfolio</p>
    <Hero />
    <Project />
    <Footer />
</Layout>
