---
import EmailCopy  from '../components/EmailCopy.astro';
---

<section>
    <div class="flex flex-col justify-center items-center mx-10 md:px-15 md:mx-20 px-10 bg-primary-medium h-100 rounded-2xl ring-6 mb-15 ring-primary-light shadow-[0px_0px_24px_10px_#008ef0]">
        
            <h1 class="font-bold text-7xl mb-10 text-white ">Contacto</h1>
            <p class="hidden md:block text-lg text-white p-10 text-pretty md:text-center">
                Si quieres ponerte en contacto conmigo, puedes hacerlo a través de mi correo electrónico.
            </p>
            <EmailCopy />
                
    </div>          
   
</section>