---
import '/src/styles/cursor.css'
import '/src/styles/global.css'
---

<header class="w-full py-4 px-6 bg-[#000e18] flex items-center justify-center relative">
  <nav class="hidden md:flex gap-6 text-white text-xl font-semibold">

    <a href="#projects"
       class="group hover:text-primary-light px-20 transition-colors flex items-center gap-1">
      Proyectos:
      <span class="hidden group-hover:inline-block animate-cursor-blink">|</span>
    </a>

    <a href="#about"
       class="group hover:text-primary-light px-20 transition-colors flex items-center gap-1">
      Sobre mí:
      <span class="hidden group-hover:inline-block animate-cursor-blink">|</span>
    </a>

    <a href="#contact"
       class="group hover:text-primary-light px-20 transition-colors flex items-center gap-1">
      Contacto:
      <span class="hidden group-hover:inline-block animate-cursor-blink">|</span>
    </a>

  </nav>
</header>


