<section>
    <div
        class="relative grid grid-cols-5 grid-rows-5 gap-4 mx-auto md:px-20 px-10 py-15"
    >
        <div
            class="hidden md:flex max-h-120 relative flex flex-col justify-center items-center col-span-2 row-span-5 overflow-visible bg-primary-medium h-180 rounded-2xl ring-6 ring-primary-light shadow-[0px_0px_24px_10px_#008ef0]"
        >
            <img
                class="relative bottom-20 max-h-[450px] object-fill drop-shadow-xl/75 drop-shadow-primary-light scale-x-[-1]

                [mask-image:linear-gradient(to_top,transparent_0%,black_60%)]
                [-webkit-mask-image:linear-gradient(to_top,transparent_0%,black_60%)]"
                src="/images/blillo.webp"
                alt="Blillo90"
            />
            <img
                class="absolute object-cover h-60 w-auto bottom-0"
                src="/images/firma3.webp"
                alt="Firma"
            />
        </div>
        <div
            class="max-h-120 p-25 justify-center items-center col-span-5 md:col-span-3 md-col-start-3 row-span-5 max-h-120 p-25 flex flex-col justify-center items-center overflow-hidden bg-primary-medium h-180 rounded-2xl ring-6 ring-primary-light shadow-[0px_0px_24px_10px_#008ef0]"
        >
            <h1 class="font-bold text-7xl text-white mb-10">
                Soy <span class="text-primary-lighter">Pablo Pérez,</span>
            </h1><h1 class="font-bold text-3xl text-white">
                estudiante de ASIR de primer año
            </h1>
            <p class="hidden md:block text-xs text-white pt-10 text-pretty md:text-balance">
                En continuo desarrollo, tengo especial interés en aprender
                materias nuevas. En la actualidad, intentando ser mejor
                desarrollador Full Stack, estudiando las últimas novedades.
            </p>
        </div>
    </div>
</section>
