<section>
    <div class="relative grid grid-cols-5 grid-rows-5 gap-4 mx-auto px-20 py-15">
        <div class="max-h-120 relative flex flex-col justify-center items-center col-span-2 row-span-5 overflow-visible bg-primary-medium h-180 rounded-2xl ring-6 ring-primary-light shadow-[0px_0px_24px_10px_#008ef0]">
                <img class="relative bottom-20 object-fill drop-shadow-xl/75 drop-shadow-primary-light 
                [mask-image:linear-gradient(to_top,transparent_0%,black_60%)] 
                [-webkit-mask-image:linear-gradient(to_top,transparent_0%,black_60%)]" src="/public/images/blillo2.webp" alt="Blillo90">
                <img class="absolute object-cover h-60 w-auto bottom-0"src="/public/images/firma3.webp" alt="Firma">
        </div>
        <div class="max-h-120 p-25 justify-center items-center col-span-3 row-span-5 col-start-3 overflow-hidden bg-primary-medium h-180 rounded-2xl ring-6 ring-primary-light shadow-[0px_0px_24px_10px_#008ef0]">
            <h1 class="font-bold text-7xl text-white mb-10">Soy <span class="text-primary-lighter">Pablo Pérez,</span> </h1><h1 class="font-bold text-3xl text-white"> estudiante de ASIR de primer año</h1>
            <p class="text-xs text-white pt-10 text-pretty md:text-balance">En continuo desarrollo, tengo especial interés en aprender materias nuevas. En la actualidad, intentando ser mejor desarrollador Full Stack, estudiando las últimas novedades.</p>
        </div>
    </div>
</section>

