<section>
    <div class="grid grid-cols-5 grid-rows-5 gap-4 container mx-auto p-50">
        <div class="flex flex-col justify-center col-span-2 row-span-5 bg-primary-medium min-h-screen rounded-2xl ring-4 ring-primary-light shadow-[0px_0px_24px_10px_#008ef0]">
            <img class="object-contain drop-shadow-2xl/75 drop-shadow-primary-light"src="/public/images/blillo90.webp" alt="Blillo90">
        </div>
        <div class="flex flex-col p-16 pt-0 justify-center col-span-3 row-span-5 col-start-3 bg-primary-medium min-h-screen rounded-2xl ring-4 ring-primary-light shadow-[0px_0px_24px_10px_#008ef0]">
            <img src="/public/images/firma.webp" alt="Firma de Pablo Pérez, desarrollador Full stack">
            <h1 class="font-bold text-3xl text-white">Soy Pablo Pérez, estudiante de ASIR de primer año</h1>
            <p class="text-xl text-white pt-10">En continuo desarrollo, tengo especial interés en aprender materias nuevas. En la actualidad, intentando ser mejor desarrollador Full Stack, estudiando las últimas novedades.</p>
        </div>
    </div>
</section>

