---
import { Icon } from 'astro-icon/components';
---

<section>
    <div class="container mx-auto px-15 pb-15">
        <div class="flex items-center text-left bg-primary-medium h-30 rounded-2xl ring-6 ring-primary-light shadow-[0px_0px_24px_10px_#008ef0]">
            <span class="font-bold text-white text-2xl ml-20"><p> PROYECTO de virtualización de CPU </p></span>
            <Icon class="mx-4 h-20 text-theme-yellow ml-60 size-10" name="warning" />
            <span class="font-bold text-theme-yellow text-2xl"><p> En progreso </p></span>


        </div>
    </div>

</section>

<section>
    <div class="container mx-auto px-15 pb-15">
        <div class="flex items-center text-left bg-primary-medium h-30 rounded-2xl ring-6 ring-primary-light shadow-[0px_0px_24px_10px_#008ef0]">
            <span class="font-bold text-white text-2xl ml-20"><p> PROYECTO de virtualización de CPU </p></span>
            <Icon class="mx-4 h-20 text-theme-yellow ml-60 size-10" name="warning" />
            <span class="font-bold text-theme-yellow text-2xl"><p> En progreso </p></span>
            <Icon class="mx-4 h-20 text-theme-yellow ml-60 size-10" name="warning" />



        </div>
    </div>

</section>