---
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<section>
  {
    projects.map((project) => {
      const { slug, data } = project;
      const { name, date, state } = data;

      return (
        <div x-data="{ open: false }" class="relative container mx-auto px-15 pb-15 transition-all duration-500 ease-in-out">
          <div
            class="flex items-center bg-primary-medium h-30 rounded-2xl ring-6 ring-primary-light shadow-[0px_0px_24px_10px_#008ef0] px-6"
          >
            <span class="font-bold text-white text-left text-2xl ml-20">
              <p>{name}</p>
            </span>
            <div class="flex items-center justify-end w-full mr-15">
              <Icon
                class="mx-4 h-20 text-theme-yellow ml-55 size-10"
                name="warning"
              />
              <span class="font-bold text-theme-yellow text-2xl">
                <p>{state}</p>
              </span>
              <span class="flex items-center ml-15">
                <Icon
                  class="text-primary-light size-10 mr-5 hover:cursor-pointer hover:text-primary-lighter"
                  name="window_open"
                  @click="open = !open"
                />
                <Icon
                  class="text-primary-light size-10 hover:cursor-pointer hover:text-primary-lighter"
                  name="close"
                />
              </span>
            </div>
          </div>

          <!-- Contenido adicional que aparece al expandir -->
          <div
            x-show="open"
            x-transition:enter="transition ease-out duration-500"
            x-transition:enter-start="opacity-0 max-h-0"
            x-transition:enter-end="opacity-100 max-h-[300px]"
            x-transition:leave="transition ease-in duration-300"
            x-transition:leave-start="opacity-100 max-h-[300px]"
            x-transition:leave-end="opacity-0 max-h-0"
            class="flex items-center bg-primary-medium h-150 rounded-2xl ring-6 ring-primary-light shadow-[0px_0px_24px_10px_#008ef0] px-6 mt-4"
          >
            <p class="text-gray-700">Aquí puedes mostrar más información del proyecto, enlaces, estado, logs, etc.</p>
          </div>
        </div>
      );
    })
  }
</section>

