<section>
    <div class="container mx-auto">
        <div class="flex items-center text-left bg-primary-medium h-30 rounded-2xl ring-6 ring-primary-light shadow-[0px_0px_24px_10px_#008ef0]">
            <span class="font-bold text-white text-2xl ml-30"><p> PROYECTO de virtualización de CPU </p></span>
            <span class="font-bold text-theme-yellow text-2xl ml-30"><p> En progreso </p></span>
            
        </div>
    </div>

</section>